{% extends 'AEIRBS-Default.html' %}
{% block title %}AEIRBS-Masterlist{% endblock title %}
{% load static %}
{% block body %}

<body>
    <div class="container-fluid user" id="" style="padding:0 25px 25px 25px;">
        <div class="container-fluid"
            style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">
            
            <div class="row"></div>
            <div
                style="background-color:#343A40; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);  border-radius: 5px; padding: 25px;">

                <div class="row">
                    <div class="col-2">
                        <div class="imagePreview"
                            style="background-image: url('{{user.profile.user_image.url}}'); background-size: contain; background-position: center; border: 5px solid white;">
                        </div>
                    </div>

                    <div class="col text-light" style="position: relative;">
                        <a href="{% url 'edit_admin' %}"  class="btn btn-outline-light btn-sm float-right"
                            title="Edit Profile">
                            <i class="fas fa-user-edit fa-sm mr-2"></i>Edit Profile
                    </a>

                        <div class="mb-3" style="position: absolute; bottom: 0;">
                            <h3><b>{{user.get_full_name}}</b></h3>
                            <div class="mt-2">
                                <h6><i class="fas fa-user fa-sm mr-2 "></i>{% if user.is_superuser%} Super- Admin
                                    {% else %} Admin {% endif %}</h6>
                                <h6><i class="fas fa-envelope fa-sm mr-2 "></i>{{user.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="left-padding" id="users">
        <div class="container-fluid userContainer" id="userContainer" style="padding:0 25px 25px 25px;">
            <div class="container-fluid"
                style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

                <div class="row">
                    <!--Page Labels-->
                    <div class="col-7">
                        <h3 id="masterlistLabel"><b><b>ADMIN MASTERLIST</b></b>
                        </h3>
                    </div>

                    <!--Add Admin Button-->
                    {% if request.user.is_superuser %}
                    <div class="col-2">
                        <a href="{% url 'add_admin' %}" class="btn btn-dark float-right btn-sm mt-1">
                            <i class="fas fa-user-plus fa-sm mr-2"></i>Add Admin
                        </a>
                    </div>
                    {% endif %}

                    <!--Search Admin-->
                    <div class="col-3 mt-1">
                        <form action="#" method="post">
                            <div class="input-group mb-3" id="searchAdmin">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" class="input form-control form-control-sm"
                                    placeholder="Search Admin">
                            </div>
                        </form>
                    </div>
                </div>

                <!--Masterlist Table-->
                <table id="masterlistTable" class="table table-striped table-borderless"
                    style="width:100%; text-align:center; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">
                    <thead class="table-header">
                        <tr>
                            <th></th>
                            <th>Employee ID</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        {% if user.username != request.user.username %}
                        <tr class="table-row table-masterlist" data-username='{{user.username}}'>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>{{user.username}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.profile.middle_name}}</td>
                            <td>{{user.last_name}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% for user in users %}
    <div class="right-padding hidden userDetails" id="userDetails{{user.username}}">
        <div class="container-fluid userDetailsContainer" id="userDetailsContainer"
            style="padding:0 25px 25px 12.5px;">
            <div class="container-fluid"
                style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px; ">
                <div class="adminDetails"
                    style="background-color:#343A40; min-height: 45vh; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); text-align:center; position:relative;  border-radius: 5px;">
                    <button type="button " class="btn btn-link icon mt-2 mr-2 closeAdmin"
                        data-username='{{user.username}}' style="color:white; position:absolute; right: 0; "><i
                            class="fas fa-times fa-sm "></i></button>


                    <div class="dropdown">
                        <button type="submit " class="btn btn-link icon mt-2 ml-2 userActions" id=" "
                            style="color:white; position:absolute; left: 0;" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="fas fa-ellipsis-v fa-sm"></i></button>
                        <div class="dropdown-menu" style="min-width: 5px;" aria-labelledby="userActions">
                            <button class="dropdown-item editAdmin icon" type="button"
                                style="border-radius: 0px; font-size: small;"><i
                                    class="fas fa-user-edit fa-sm mr-2 "></i>Edit Admin</button>
                            {% if request.user.is_superuser %}
                            <form action="{% url 'del_user' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" class="" name="username" value="{{user.username}}"></input>
                                <button class="dropdown-item icon" type="submit"
                                    style="border-radius: 0px; font-size: small;"><i
                                        class="fas fa-user-times fa-sm mr-2 "></i>Delete Admin</button>
                            </form>
                            {% endif %}
                        </div>

                    </div>
                    <div class=" mb-2" style="padding-top: 6vh;">
                        <div class="mb-3">
                            <img src="{{ user.profile.user_image.url }}"
                                style="border-radius: 50%; height:23vh; border: 8px solid white;box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3) ">
                        </div>

                        <div class="text-light">
                            <h3><b>{{user.get_full_name}}</b></h3>
                            <div class="mt-2 ">
                                <h6><i class="fas fa-user fa-sm mr-2 "></i>{% if user.is_superuser%} Super- Admin
                                    {% else %} Admin {% endif %}</h6>
                                <h6><i class="fas fa-envelope fa-sm mr-2 "></i>{{user.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="editAdminForm hidden"
                    style="padding: 8px;min-height: 45vh; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); position:relative;  border-radius: 5px;"> 
                    <div class="row">
                        <div class="col-1">
                           <button type="button" class="btn btn-link text-dark icon cancelEditAdmin" title="Go Back">
                                <span><i class="fas fa-arrow-left"></i></span>
                           </button>
                        </div>
                        <div class="col ml-3 mt-1">
                            <h4><b><b>{{user.username}}</b></b></h4>
                        </div>
                    </div>
                    <hr class="mx-3">
                    <div class="m-3">
                    <!-- Form for Updating user -->
                    {% if request.user.is_superuser %}
                    <form action="{% url 'edit_user' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ user.username }}">

                            <!--Upload Admin Image-->
                            <center>
                                <div class="imgUp mb-5 mt-4">
                                    <div class="imagePreview"
                                        style="background-image: url('{{user.profile.user_image.url}}'); background-size: contain; background-position: center;">
                                    </div>
                                    <label class="btn btn-block btn-dark btn-sm">
                                        Select Image<input type="file" class="uploadFile img" value="Upload Photo"
                                            style="width: 0px;height: 0px;overflow: hidden;" name="editAdminImage">
                                    </label>
                                </div>
                            </center>

                            <div class="form-group">
                                <small for="accessRole ">Access Role</small>
                                <select class="form-control form-control-sm" name="editAdminAccessRole">
                                    {% if user.is_superuser %}
                                    <option value="adminRole">Admin</option>
                                    <option value="superRole" selected>Super Admin</option>
                                    {% else %}
                                    <option value="adminRole" selected>Admin</option>
                                    <option value="superRole">Super Admin</option>
                                    {% endif %}
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-7">
                                    <div class="form-group ">
                                        <small for="jobPosition ">Job Position</small>
                                        <input type="text " class="form-control form-control-sm"
                                            name="editAdminJobPosition" value="{{user.profile.job_position}}"
                                            placeholder="Job Position">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group ">
                                        <small for="employeeID ">Employee ID</small>
                                        <input type="text" class="form-control form-control-sm"
                                            name="editAdminEmployeeID" value="{{user.username}}"
                                            placeholder="Employee ID">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group ">
                                        <small for="firstName ">First Name</small>
                                        <input type="text " class="form-control form-control-sm"
                                            name="editAdminFirstName" value="{{user.first_name}}"
                                            placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group ">
                                        <small for="middleName ">Middle Name</small>
                                        <input type="text " class="form-control form-control-sm"
                                            name="editAdminMiddleName" value="{{user.profile.middle_name}}"
                                            placeholder="Middle Name">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group ">
                                        <small for="lastName ">Last Name</small>
                                        <input type="text " class="form-control form-control-sm"
                                            name="editAdminLastName" value="{{user.last_name}}" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7">
                                    <div class="form-group ">
                                        <small for="companyEmail ">Company Email</small>
                                        <input type="email " class="form-control form-control-sm"
                                            name="editAdminCompanyEmail" value="{{user.email}}"
                                            placeholder="Company Email">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group ">
                                        <small for="mobileNumber ">Mobile Number</small>
                                        <input type="number " class="form-control form-control-sm"
                                            name="editAdminMobileNumber" value="{{user.profile.mobile_number}}"
                                            placeholder="Mobile Number">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="float-right btn btn-dark btn-sm"><i
                                    class="fas fa-save fa-sm mr-2 "></i>Save</button>
                            <br><br>
                    </form>
                    </div>
                    {% endif %}
                </div>
                <div class="mt-3 "
                    style="background-color:#EAEDED; padding: 15px; min-height: 30vh; height: auto;box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">
                    <h6><b>Recent Activities:</b></h6>
                    <div style=" max-height: 50vh; overflow-y: scroll; overflow-x: hidden;">
                        <table id="" class="table" style="width:100%;">
                            <tbody>
                                {% for log in logs %}
                                {% if log.0 == user.username%}
                                <tr style="font-size: 12px;">
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <b>{{log.1}}</b>
                                            </div>
                                            <div class="col">
                                                <small class="float-right">{{log.2}}</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col ml-3">
                                                {{log.3}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {%endif%}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(".masterlist").toggleClass("active");
</script>
{% endblock body %}