{% extends 'AEIRBS-Default.html' %} {% block title %}AEIRBS-Dashboard{% endblock title %} {% load static %} {% block body %}

<body>
    <div class="container-fluid" style="padding:0 25px 25px 25px;">
        <div class="container-fluid" style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">

            <div class="row">
                <!--Page Labels-->
                <div class="col-4">
                    <h3 id="dashboardLabel"><b><b>DASHBOARD</b></b>
                    </h3>
                    <h3 id="addComponentLabel" class="hidden"><b><b>ADD COMPONENT</b></b>
                    </h3>
                </div>

                <!--Add Component Button-->
                <div class="col">
                    {% if request.user.is_superuser %}
                    <button type="button" id="addComponentButton" class="btn btn-dark float-right btn-sm mt-1">
            <i class="fas fa-plus fa-sm mr-2"></i>Add Component
          </button> {% endif %}
                </div>

                <!--Search Component-->
                <div class="col-3">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3" id="searchComponent">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <form action="{% url 'search_comp' %}" method="post">
                                <input type="text" class="input form-control" placeholder="Search Component" name="search">
                            </form>
                        </div>
                    </form>
                </div>
            </div>

            <!--Add Component Form-->
            <div class="container my-3 hidden" id="addComponentForm" style=" background-color:#EAEDED; padding: 20px; border-radius: 5px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">

                <button type="button" id="cancelAddComponent" class="btn btn-link text-dark float-left my-2 icon" title="Go Back">
          <span><i class="fas fa-arrow-left"></i></span>
        </button>

                <div class="row my-5">
                    <div class="col-1">
                    </div>

                    <!--Upload Component Image-->
                    <div class="col-2 imgUp">
                        <div class="imagePreview"></div>
                        <label class="btn btn-img btn-sm">
              Select Image<input type="file" class="uploadFile img" value="Upload Photo"
                style="width: 0px;height: 0px;overflow: hidden;">
            </label>
                    </div>


                    <div class="col-8">
                        <form action="{% url 'add_comp' %}" method="post">
                            {% csrf_token %}
                            <div class="row">

                                <!--Dropdown Incident Type-->
                                <div class="col">
                                    <div class="form-group">
                                        <label for="incidentType">Incident Type</label>
                                        <select class="form-control" name="selectIncidentType">
                      <option></option>
                      <option id="earthquakeType" value="earthquakeType">Earthquake</option>
                      <option id="fireType" value="fireType">Fire</option>
                      <option id="floodType" value="floodType">Flood</option>
                    </select>
                                    </div>
                                </div>

                                <!--Input Component ID-->
                                <div class="col">
                                    <div class="form-group">
                                        <label for="inputComponentID">Component ID</label>
                                        <input type="text" class="form-control" name="inputComponentID" id="inputComponentID" placeholder="Component ID">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <!--Dropdown Component Name-->
                                <div class="col">
                                    <div class="form-group">
                                        <label for="selectComponentName">Component Name</label>
                                        <select class="form-control" id="selectComponentName" name="selectComponentName">
                      {% for comp in all_components %}
                      <option value="{{comp.sensor_id}}">{{comp.sensor_name}}</option>
                      {% endfor %}
                      <option id="selectSpecifyNameButton" value="selectSpecifyNameButton">Others, please specify
                      </option>
                    </select>
                                    </div>
                                </div>

                                <!--Dropdown Location-->
                                <div class="col">
                                    <div class="form-group">
                                        <label for="selectLocation">Location</label>
                                        <select class="form-control" name="selectLocation">
                      <option>1</option>
                    </select>
                                    </div>
                                </div>

                            </div>

                            <!--Input Device ID-->
                            <div class="row mb-3" id="inputSpecifiedName">
                                <div class="col">
                                    <input type="text" class="form-control" name="deviceID" placeholder="Specify Device">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark float-right btn-sm" id="submitComponent">Submit</button>
                        </form>
                    </div>

                    <div class="col-1">
                    </div>
                </div>
            </div>

            <!--Dashboard Header-->
            <div class="row mx-4" id="dashboardHeader">
                <!--Sort Components-->
                <div id="sortComponent" class="col-3 mt-3">
                    <div class="row">
                        <div class="mt-2 mr-3">
                            <span style="font-size: 10px;">
                      Sort By:
                    </span>
                        </div>
                        <div>
                            <span>
                      <div class="form-group btn btn-sm">
                        <select class="form-control border-1 btn-sm icon sort" name="incidentType" style="font-size: 10px;">
                          <option id="selectComponentID" selected >Component ID</option>
                        </select>
                      </div>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col-5 mt-5 text-right">
                    <div class="row float-right">
                        <div class="mr-3"><small><span style="background-color:#1E8449; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size: 10px;">&nbsp;&nbsp;Connected</span></small></div>
                        <div class="mr-3"><small><span style="background-color:#B7950B; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size: 10px;">&nbsp;&nbsp;Under Maintenance</span></small></div>
                        <div class="mr-3"><small><span style="background-color:#922B21; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size: 10px;">&nbsp;&nbsp;Needs Maintenance</span></small></div>
                        <div class=""><small><span style="background-color:#616A6B; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size: 10px;">&nbsp;&nbsp;Inactive</span></small></div>
                    </div>
                </div>
            </div>

            <!--Component Accordion-->
            <div class="accordion" id="componentAccordion" style="box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0;">
                <!--Earthquake Components-->
                <div class="card">
                    <div id="earthquakeCategory" class="card-header accordion-header btn btn-link icon text-dark text-left float-left" style="text-decoration:none;" data-toggle="collapse" data-target="#collapseEarthquake" aria-expanded="true" aria-controls="collapseEarthquake">
                        <h5 class="mt-2">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-globe" style="color:#E5BF9A;"></i>
                                </div>
                                <div class="col-11">
                                    <b>Searched Components</b>
                                </div>
                                <div class="col">
                                    <span id="earthquake-close" class="hidden"><i class="fas fa-caret-up float-right"></i></span>
                                    <span id="earthquake-open"><i class="fas fa-caret-down float-right"></i></span>
                                </div>
                            </div>
                        </h5>
                    </div>

                    <div id="collapseEarthquake" class="collapse" aria-labelledby="earthquakeHeading" data-parent="#componentAccordion">
                        <div class="card-body d-inline-flex flex-row  justify-content-start text-center" style="padding: 20px 57px 20px 57px;">
                            {% for comp in searched %}
                            <div class="card card-layout border-0 m-2" data-toggle="modal" data-target="#sensorModal{{comp.device_sensor_id}}">
                                <div class="card-header border-0">
                                    <h6><b>{{comp.device_sensor_id}}</b></h6>
                                </div>
                                <div class="card-body border-0">
                                    <div class="row my-2">
                                        <div class="col-4">
                                            <img src="{{ comp.sensor_id.sensor_image.url }}" height="90" style="border-radius: 5px;">
                                        </div>
                                        <div class="col-8 mt-3">
                                            <h6>{{comp.sensor_id.sensor_name}}</h6>
                                            <small>{{comp.device_id.floor_location}}</small>
                                        </div>
                                    </div>
                                </div>

                                {% if comp.sensor_status == 1 and comp.device_id.device_status == 1 %}
                                    <div class="card-overlay" style="background-color:#1E8449;"></div>
                                {% else %}
                                    <div class="card-overlay" style="background-color:#616A6B;"></div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--Sensor Modal-->
    {% for component in all_components %}
    <div class="modal fade" id="sensorModal{{component.device_sensor_id}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="position:relative; background-color:#343A40;">
                    <div class="row">
                        <div id="" class="form-group ml-3 componentIDForm">
                            <input type="text" class="form-control" id="inputComponentID" placeholder="{{component.device_sensor_id}}">
                        </div>
                        <h5 id="" class="text-light mt-2 ml-3 mr-2 componentID"><b>{{component.device_sensor_id}}</b></h5>
                        <button id="" class="btn btn-link text-light icon editComponent" title="Edit"><i
              class="fas fa-edit"></i></button>
                    </div>
                    <button data-dismiss="modal" class="btn btn-link text-light float-right btn-sm mt-2 mr-2 icon" style="position:absolute; right: 2px; top:0;"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body" style="border-radius:5px">

                    <div class="row m-4">
                        <div class="col mt-2">
                            <center>
                                <h6 id="" class="componentName"><b>{{component.sensor_id.sensor_name}}</b></h6>
                            </center>
                            <div id="" class="form-group componentNameForm">
                                <label for="selectComponentName" style="font-size:12px">Component Name</label>
                                <select class="form-control" id="selectComponentName" name="selectComponentName">
                {% for component in all_components %}
                <option>{{sensor.sensor_name}}</option>
                {% endfor %}
                <option id="specifyNameFormButton">Others, please specify</option>
              </select>
                            </div>

                            <div class="row mb-3 specifyNameForm" id="">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Component Name">
                                </div>
                            </div>
                            <br>
                            <center><img src="{{ component.sensor_id.sensor_image.url }}" height="150" style="border-radius: 5px;">
                            </center>
                        </div>

                        <div class="col mx-3" style="background-color: #EAEDED; border-radius: 5px;">
                            <div class="my-2">
                                <b>Incident Type:</b><br> {% if component.sensor_id.sensor_type == 0 %}
                                <small id="componentType">Fire</small> {% elif component.sensor_id.sensor_type == 1 %}
                                <small id="componentType">Flood</small> {% elif component.sensor_id.sensor_type == 2 %}
                                <small id="componentType">Earthquake</small> {% endif %}
                            </div>

                            <div class="my-2">
                                <b>Location:</b>
                                <br>
                                <small id="componentLocation">{{component.device_id.floor_location}}</small>
                            </div>

                            <div class="my-2">
                                <b>Device ID:</b>
                                <br>
                                <small id="componentLocation">{{component.device_id.device_id}}</small>
                            </div>

                            <div class="my-2">
                                <b>Last Maintained Date:</b>
                                <small>{{component.last_maintained_datetime}}</small>
                            </div>

                            <div class="my-2">
                                <b>Last Maintained By:</b>
                                <small>{{component.last_maintained_by}}</small>
                            </div>
                        </div>

                        <div class="col">
                            <div id="" class="row status" style="background-color:rgb(30, 132, 73, 0.5); border-radius: 5px; position:relative;">
                                <div class="mx-2" style="width:100%;">
                                    <div class="my-2">
                                        <b>Status:</b><br>
                                        <small class="status-active">Active</small>
                                        <small class="status-inactive">Inactive</small>
                                        <small class="status-needsMaintenance">Needs Maintenance</small>
                                        <small class="status-underMaintenance">Under Maintenance</small>
                                    </div>
                                    <div class="mt-2 mr-2" style="position: absolute; right:2px; top:0;">
                                        <label class="switch float-right">
                    <input type="checkbox" id="status-switch" checked>
                    <span class="slider round"></span>
                  </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="maintenance-status" style="width:100%; text-align: center;">
                                    <div class="needsMaintenance">
                                        <input class="maintenance-needsMaintenance mr-2" type="checkbox">
                                        <small>Needs Maintenance</small>
                                    </div>
                                    <div class="underMaintenance">
                                        <input class="maintenance-underMaintenance mr-2" type="checkbox">
                                        <small>Under Maintenance</small>
                                    </div>
                                </div>
                            </div>

                            <div class="status row mb-2" style="background-color:rgb(30, 132, 73, 0.5); border-radius: 5px; position:relative;">
                                <button class="btn btn-link text-dark float-right btn-sm mt-2 mr-2 icon" style="position:absolute; right: 2px; top:0;"><i class="fas fa-sync-alt"></i></button>
                                <div class="mx-2" style="width:100%;">
                                    <div class="my-2">
                                        <b>Connectivity:</b><br>
                                        <small class="connectivity-connected">Connected</small>
                                        <small class="connectivity-disconnected">Disconnected</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div style="width:100%; position: absolute; bottom: 0;">
                                    <center>
                                        <button type="button" id="" class="btn btn-danger btn-sm btn-block deleteComponentButton" data-dismiss="modal" data-toggle="modal" data-target="#confirmationModal">
                    <i class="fas fa-trash-alt fa-sm mr-2"></i>Delete Component
                  </button>
                                        <button type="button" id="" class="btn btn-success btn-sm btn-block saveComponentButton" data-dismiss="modal" data-toggle="modal" data-target="#confirmationModal">
                    <i class="fas fa-save fa-sm mr-2"></i>Save Component
                  </button>
                                        <button type="button" id="" class="btn btn-dark btn-sm btn-block cancelEditComponentButton">
                    <i class="fas fa-ban fa-sm mr-2"></i>Cancel
                  </button>
                                    </center>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}



    <!--Device Modal-->
    {% for device in all_devices %} {% for component in all_components %}
    <div class="modal fade" id="deviceModal{{device.device_id}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="position:relative; background-color:#343A40;">
                    <div class="row">
                        <div id="" class="form-group ml-3 componentIDForm">
                            <input type="text" class="form-control" id="inputComponentID" placeholder="{{device.device_id}}">
                        </div>
                        <h5 id="" class="text-light mt-2 ml-3 mr-2 componentID"><b>{{device.device_id}}</b></h5>
                        <button id="" class="btn btn-link text-light icon editComponent" title="Edit"><i
                class="fas fa-edit"></i></button>
                    </div>
                    <button data-dismiss="modal" class="btn btn-link text-light float-right btn-sm mt-2 mr-2 icon" style="position:absolute; right: 2px; top:0;"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body" style="border-radius:5px">

                    <div class="row m-4">
                        <div class="col mt-2">
                            <center>
                                <h6 id="" class="componentName"><b>{{device.device_name}}</b></h6>
                            </center>
                            <div id="" class="form-group componentNameForm">
                                <label for="selectComponentName" style="font-size:12px">Device Name</label>
                                <select class="form-control" id="selectComponentName" name="selectComponentName">
                  {% for device in all_devices %}
                  <option>{{device.device_name}}</option>
                  {% endfor %}
                  <option id="specifyNameFormButton">Others, please specify</option>
                </select>
                            </div>

                            <div class="row mb-3 specifyNameForm" id="">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Component Name">
                                </div>
                            </div>
                            <br>
                            <center><img src="{{ device.device_image.url }}" height="150" style="border-radius: 5px;">
                            </center>
                        </div>

                        <div class="col mx-3" style="background-color: #EAEDED; border-radius: 5px;">

                            <div class="my-2">
                                <b>Location:</b>
                                <br>
                                <small id="componentLocation">{{device.floor_location}}</small>
                            </div>

                            <div class="my-2">
                                <b>Last Maintained Date:</b>
                                <small>{{component.last_maintained_datetime}}</small>
                            </div>

                            <div class="my-2">
                                <b>Last Maintained By:</b>
                                <small>{{component.last_maintained_by}}</small>
                            </div>
                        </div>

                        <div class="col">
                            <div id="" class="row status" style="background-color:rgb(30, 132, 73, 0.5); border-radius: 5px; position:relative;">
                                <div class="mx-2" style="width:100%;">
                                    <div class="my-2">
                                        <b>Status:</b><br>
                                        <small class="status-active">Active</small>
                                        <small class="status-inactive">Inactive</small>
                                        <small class="status-needsMaintenance">Needs Maintenance</small>
                                        <small class="status-underMaintenance">Under Maintenance</small>
                                    </div>
                                    <div class="mt-2 mr-2" style="position: absolute; right:2px; top:0;">
                                        <label class="switch float-right">
                      <input type="checkbox" id="status-switch" checked>
                      <span class="slider round"></span>
                    </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="maintenance-status" style="width:100%; text-align: center;">
                                    <div class="needsMaintenance">
                                        <input class="maintenance-needsMaintenance mr-2" type="checkbox">
                                        <small>Needs Maintenance</small>
                                    </div>
                                    <div class="underMaintenance">
                                        <input class="maintenance-underMaintenance mr-2" type="checkbox">
                                        <small>Under Maintenance</small>
                                    </div>
                                </div>
                            </div>

                            <div class="status row mb-2" style="background-color:rgb(30, 132, 73, 0.5); border-radius: 5px; position:relative;">
                                <button class="btn btn-link text-dark float-right btn-sm mt-2 mr-2 icon" style="position:absolute; right: 2px; top:0;"><i class="fas fa-sync-alt"></i></button>
                                <div class="mx-2" style="width:100%;">
                                    <div class="my-2">
                                        <b>Connectivity:</b><br>
                                        <small class="connectivity-connected">Connected</small>
                                        <small class="connectivity-disconnected">Disconnected</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div style="width:100%; position: absolute; bottom: 0;">
                                    <center>
                                        <button type="button" id="" class="btn btn-danger btn-sm btn-block deleteComponentButton" data-dismiss="modal" data-toggle="modal" data-target="#confirmationModal">
                      <i class="fas fa-trash-alt fa-sm mr-2"></i>Delete Component
                    </button>
                                        <button type="button" id="" class="btn btn-success btn-sm btn-block saveComponentButton" data-dismiss="modal" data-toggle="modal" data-target="#confirmationModal">
                      <i class="fas fa-save fa-sm mr-2"></i>Save Component
                    </button>
                                        <button type="button" id="" class="btn btn-dark btn-sm btn-block cancelEditComponentButton">
                      <i class="fas fa-ban fa-sm mr-2"></i>Cancel
                    </button>
                                    </center>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% endfor %}

    <!--Confirmation Modal-->
    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header" style="position:relative; background-color:#343A40;">
                    <h5 class="text-light mt-2">
                        <span class="confirmDeleteComponent"><b>Delete Component</b></span>
                        <span class="confirmSaveComponent"><b>Update Component</b></span>
                        <span class="confirmAddComponent"><b>Add Component</b></span>
                    </h5>
                    <button data-dismiss="modal" class="btn btn-link text-light float-right btn-sm mt-2 mr-2 icon" style="position:absolute; right: 2px; top:0;"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body" style="border-radius:5px">
                    <div class="row">
                        <div class="col-1">

                        </div>

                        <div class="col-3">
                            <i class="fas fa-question-circle fa-5x" style="color:#FEC107"></i>
                        </div>

                        <div class="col-8 mt-3">
                            Are you sure you want to
                            <span class="deleteComponentText"><b>Delete Component?</b></span>
                            <span class="saveComponentText"><b>Save Changes?</b></span>
                            <span class="addComponentText"><b>Add Component?</b></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="" class="btn btn-danger btn-sm confirmDeleteButton">
            Delete
          </button>
                    <button type="button" id="" class="btn btn-dark btn-sm confirmSaveButton">
            Save
          </button>
                    <button type="button" id="" class="btn btn-dark btn-sm confirmAddButton">
            Add
          </button>
                    <button type="button" id="" class="btn btn-sm icon confirmCancelButton">
            Cancel
          </button>
                    <button type="button" id="" class="btn btn-sm icon confirmCancelAddButton">
            Cancel
          </button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>
{% endblock body %}