{% extends 'AEIRBS-Default.html' %}

{% block title %}AEIRBS-Summary Reports{% endblock title %}

{% load static %}
{% block body %}

<body>
  <div class="container-fluid" style="padding:0 25px 25px 25px;">
    <div class="container-fluid"
      style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">

      <div class="row">
        <!--Page Labels-->
        <div class="col">
          <h3 id="dashboardLabel"><b><b>SUMMARY REPORT</b></b></h3>
        </div>

        <!--
              <div class="col-2">
              <form  action="#" method="post">
              <div class="input-group" id="searchAdmin">
              <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <input type="text" class="form-control" name="date" placeholder="Start Date">
          </div>
        </form>
      </div>

      <div class="col-2">
      <form  action="#" method="post">
      <div class="input-group" id="searchAdmin">
      <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
    </div>
    <input type="text" class="form-control" name="date" placeholder="End Date">
  </div>
</form>
</div>
-->
        <!--Generate Report Button-->
        <div class="col-2">
          <button type="button" class="btn btn-dark btn-sm mt-1 mr-3 float-right" id="generatePDFButton"><i
              class="fas fa-download fa-sm mr-2"></i>Download</button>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid" style="padding:0px 25px 25px 25px;">
    <div class="container-fluid"
      style=" background-color: rgba(0,0,0,.1); padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">

      <div class="row" style="padding-left:25px;">
        <div class="col-2 mt-1">
          <form action="#" method="post">
            <div class="input-group" id="searchAdmin">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
              <input type="text" class="input form-control" name="date" placeholder="Start Date">
            </div>
          </form>
        </div>

        <div class="col-2 mt-1">
          <form action="#" method="post">
            <div class="input-group" id="searchAdmin">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
              <input type="text" class="input form-control" name="date" placeholder="End Date">
            </div>
          </form>
        </div>

        <div class="col-2" style="padding-top: 5.5px;">
          <button type="button" class="btn btn-dark btn-sm mr-3 float-left" id="generateReportButton"><i
              class="fas fa-sync-alt fa-sm mr-2"></i>Generate</button>
        </div>
      </div>

      <div class="container-fluid mt-4" style="padding:0 25px 25px 25px;">
        <div class="container-fluid"
          style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">
          <center><canvas id="myChart" width="100%"></canvas></center>
        </div>
      </div>

      <div class="container-fluid" style="padding:0 25px 25px 25px;">
        <div class="row">
          <div class="col-4">
            <div class="container-fluid"
              style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">
              <center><canvas id="myChart1" width="100%" height="70%"></canvas></center>
            </div>
          </div>
          <div class="col-4">
            <div class="container-fluid"
              style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">
              <center><canvas id="myChart2" width="100%" height="70%"></canvas></center>
            </div>
          </div>
          <div class="col-4">
            <div class="container-fluid"
              style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">
              <center><canvas id="myChart3" width="100%" height="70%"></canvas></center>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

{% endblock body %}