{% extends 'AEIRBS-Default.html' %} {% block title %}AEIRBS-Audit Logs{% endblock title %} {% load static %}
{% block body %}
<style>
    .nav-item .nav-link {
        background-color: rgba(0, 0, 0, .08);
        color: #343A40;
    }    
    
    .nav-item .nav-link:hover {
        background-color: rgba(0, 0, 0, .08);
        color: #343A40;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    }

    .nav-item .nav-link.active {
        background-color: rgba(0, 0, 0, .08);
        color: #343A40;
        border-bottom: 5px solid !important;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    }

</style>
<body>

    <div class="container-fluid" id="componentContainer" style="padding:0 25px 25px 25px;">
        <div class="container-fluid"
            style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

            <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                    <a id="earthquakeLink" class="m-1 nav-link componentLogs" href="{% url 'component_logs' %}"><i class="fas fa-cog mr-3"></i>Component Logs</a>
                </li>
                <li class="nav-item">
                    <a id="fireLink" class="m-1 nav-link userLogs" href="{% url 'user_logs' %}"><i class="fas fa-user mr-3"></i>User Logs </a>
                </li>
                <li class="nav-item">
                    <a id="floodLink" class="m-1 nav-link maintenanceLogs" href="{% url 'maintenance_logs' %}"><i class="fas fa-wrench mr-3"></i>Maintenance Logs </a>
                </li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock content %}
</body>

{% endblock body %}