{% extends 'AEIRBS-Default.html' %} {% block title %}AEIRBS-Incident Reports{% endblock title %} {% load static %}
{% block body %}
<style>

</style>
<script>
</script>

<body>
    <div class="container-fluid" style="padding:0 25px 25px 25px;">
        <div class="container-fluid"
            style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 05px;">

            <div class="row mt-2">
                <!--Page Labels-->
                <div class="col-4">
                    <h3 id="AuditLabel"><b><b>INCIDENT REPORTS</b></b>
                    </h3>
                </div>

                <div class="col">
                    <ul class="nav justify-content-end">
                        <li class="nav-item mt-1 mr-3">
                            <small>Filter by:</small>
                        </li>
                        <li class="nav-item mr-4">
                            <form id="filterIncidents" action="{% url 'incident' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <select class="filterIncidents custom-select form-control form-control-sm"
                                        name="filterIncidents">
                                        {% if selected == 1 %}
                                        <option value="1" selected>Earthquake</option>
                                        <option value="2">Fire</option>
                                        <option value="3">Flood</option>
                                        {% elif selected == 2 %}
                                        <option value="1">Earthquake</option>
                                        <option value="2" selected>Fire</option>
                                        <option value="3">Flood</option>
                                        {% elif selected == 3 %}
                                        <option value="1">Earthquake</option>
                                        <option value="2">Fire</option>
                                        <option value="3" selected>Flood</option>
                                        {% else %}
                                        <option value="">-----</option>
                                        <option value="1" >Earthquake</option>
                                        <option value="2">Fire</option>
                                        <option value="3">Flood</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </form>
                        </li>
                        <li  class="nav-item">
                            <form action="{% url 'generatePDF_incident' %} " method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark btn float-right btn-sm"><i
                                        class="fas fa-download fa-sm mr-2"></i>Download All</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
 
            <!--Incident Reports Table-->
            <table class="table incidentTable table-striped table-borderless"
                style="width:100%; text-align:center; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">
                <thead class="table-header">
                    <tr>
                        <th>Type</th>
                        <th>Level</th>
                        <th>Date and Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in incident_reports %}
                    <tr>
                        <td>{{report.incident_type}}</td>
                        <td>{{report.incident_level}}</td>
                        <td>{{report.incident_date_time|date:"d/m/Y H:i:s"}}</td>
                        <td>
                            {% if request.user.is_superuser %}
                            <form action="{% url 'generatePDF_incident' %} " method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{report.id}}" name="download_incident">
                                <button type="submit" class="btn btn-link btn-sm downloadbtn" id="generateReport"
                                    style="text-decoration:none;"><i
                                        class="fas fa-download fa-sm mr-2"></i>Download</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('#pageSubmenu').show();
    $('.reports').toggleClass("dropdownActive");
    $('.incident').toggleClass("active");
    $(".filterIncidents").on('change', function () {
       $("#filterIncidents").submit()
    });
</script>
{% endblock body %}