{% extends 'AEIRBS-Default.html' %} {% block title %}AEIRBS-Masterlist{% endblock title %} {% load static %} {% block body %}

<body>

    <div class="left-padding" id="users">
        <div class="container-fluid" id="userContainer" style="padding:0 25px 25px 25px;">
            <div class="container-fluid" style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">

                <div class="row">
                    <!--Page Labels-->
                    <div class="col-7">
                        <h3 id="masterlistLabel"><b><b>ADMIN MASTERLIST</b></b>
                        </h3>
                        <h3 class="hidden" id="addAdminLabel"><b><b>ADD ADMIN</b></b>
                        </h3>

                    </div>

                    <!--Add Component Button-->
                    {% if request.user.is_superuser %}
                    <div class="col-2">
                        <button type="button" id="addAdminButton" class="btn btn-dark float-right btn-sm mt-1">
              <i class="fas fa-user-plus fa-sm mr-2"></i>Add Admin
            </button>
                    </div>
                    {% endif %}

                    <!--Search Component-->
                    <div class="col-3 mt-1">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3" id="searchAdmin">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" class="input form-control" placeholder="Search Admin">
                            </div>
                        </form>
                    </div>
                </div>

                <!--Add Admin Form-->
                <div class="container my-3 hidden" id="addAdminForm" style=" background-color:#EAEDED; padding: 20px; border-radius: 5px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">

                    <button type="button" id="cancel-addAdmin" class="btn btn-link text-dark float-left my-2 icon" title="Go Back">
                      <span><i class="fas fa-arrow-left"></i></span>
                    </button>

                    <div class="row my-5">
                        <!--Upload Admin Image-->
                        <div class="col-2 imgUp mt-4">
                            <div class="imagePreview"></div>
                            <label class="btn btn-img btn-sm">
                              Select Image<input type="file" class="uploadFile img" value="Upload Photo"
                              style="width: 0px;height: 0px;overflow: hidden;">
                            </label>
                        </div>

                        <div class="col-10" style="border-left: 1px solid #343A40;">
                            <form action="{% url 'add_user' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <!--Dropdown Access Role-->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="accessRole">Access Role</label>
                                            <select class="form-control" name="accessRole">
                                            <option></option>
                                            <option id="adminRole" value="adminRole">Admin</option>
                                            <option id="superRole" value="superRole">Super Admin</option>
                                          </select>
                                        </div>
                                    </div>

                                    <!--Input Employee ID-->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="employeeID">Employee ID</label>
                                            <input type="text" class="form-control" id="inputEmployeeID" name="inputEmployeeID" placeholder="Employee ID">
                                        </div>
                                    </div>

                                    <div class="col">
                                    </div>
                                </div>

                                <!--Input First Name-->
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="First Name">
                                        </div>
                                    </div>

                                    <!--Input Middle Name-->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="middleName">Middle Name</label>
                                            <input type="text" class="form-control" id="inputMiddleName" name="inputMiddleName" placeholder="Middle Name">
                                        </div>
                                    </div>

                                    <!--Input last Name-->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Input Job Position-->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="jobPosition">Company Email</label>
                                            <input type="text" class="form-control" id="inputJobPosition" name="inputJobPosition" placeholder="Job Position">
                                        </div>
                                    </div>

                                    <!--Input Company Email-->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="companyEmail">Company Email</label>
                                            <input type="email" class="form-control" id="inputCompanyEmail" name="inputCompanyEmail" placeholder="Company Email">
                                        </div>
                                    </div>

                                    <!--Input Phone Number-->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="mobileNumber">Company Email</label>
                                            <input type="text" class="form-control" id="inputMobileNumber" name="inputMobileNumber" placeholder="Mobile Number">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-dark float-right btn-sm" id="submitComponent">Submit</button>
                        </div>

                        </form>
                    </div>

                </div>

                <!--Masterlist Table-->
                <table id="masterlistTable" class="table table-striped table-borderless" style="width:100%; text-align:center; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">
                    <thead class="table-header">
                        <tr>
                            <th></th>
                            <th>Employee ID</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            {% if request.user.is_superuser %}
                            <th>Actions</th>
                            {% endif %}

                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="table-row" data-user_id="{{user.username}}">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>{{user.username}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.profile.middle_name}}</td>
                            <td>{{user.last_name}}</td>
                            {% if request.user.is_superuser %}
                            <td>
                                <form action="{% url 'del_user' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="inputEmployeeID" value="{{user.username}}"></input>
                                    <button type="submit" class="btn btn-link btn-sm deletebtn" id="deleteAdmin" style="text-decoration: none;"><i class="fas fa-user-times fa-sm mr-2"></i>Delete</button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--
                <table class="table table-borderless table-striped mt-2" id="masterlistTable" style="text-align:center; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">
                    <thead class="table-header">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Employee ID</th>
                            <th onclick="sortTable(0)" scope="col">First Name</th>
                            <th onclick="sortTable(1)" scope="col">Middle Name</th>
                            <th onclick="sortTable(2)" scope="col">Last Name</th>
                            {% if request.user.is_superuser %}
                            <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="table-row" data-user_id="{{user.username}}">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>{{user.username}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.profile.middle_name}}</td>
                            <td>{{user.last_name}}</td>
                            {% if request.user.is_superuser %}
                            <td>
                                <form action="{% url 'del_user' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="inputEmployeeID" value="{{user.username}}"></input>
                                    <button type="submit" class="btn btn-link btn-sm deletebtn" id="deleteAdmin" style="text-decoration: none;"><i class="fas fa-user-times fa-sm mr-2"></i>Delete</button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <nav aria-label="Page navigation example" id="masterlistPagination">
                    <ul class="pagination  pagination-sm">
                        <li class="page-item">
                            <a class="page-link  text-dark" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link  text-dark" href="#">1</a></li>
                        <li class="page-item"><a class="page-link  text-dark" href="#">2</a></li>
                        <li class="page-item"><a class="page-link  text-dark" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link  text-dark" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
              -->
            </div>
        </div>
    </div>

    <div class="right-padding hidden" id="userDetails">
        <div class="container-fluid" id="userDetailsContainer" style="padding:0 25px 25px 12.5px;">
            <div class="container-fluid" style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 0px;">
                <div style="background-color:#343A40; min-height: 45vh; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); text-align:center; position:relative;">
                    <div>
                        <button type="submit" class="btn btn-link icon mt-2 mr-2" id="closeAdmin" style="color:white; position:absolute; right: 0;"><i class="fas fa-times fa-sm"></i></button>
                        <button type="submit" class="btn btn-light btn-sm mt-2 ml-2" id="editAdmin" style="color:black; opacity:0.3; position:absolute; left: 0;"><i
              class="fas fa-user-edit fa-sm mr-2"></i>Edit</button>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light btn-sm mt-2 ml-2" id="saveAdmin" style="color:black; opacity:0.3; position:absolute; left: 0;"><i
                  class="fas fa-save fa-sm mr-2"></i>Save</button>
                    </div>
                    <div style="padding-top: 5vh;">
                        <img src="{% static 'icons/sample.png' %}" style="border-radius: 50%; height:20vh; border: 8px solid white;box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3)">
                    </div>

                    <div id="adminDetails" class="mt-4" style="color: white;">
                        <h3><b>First Name Last Name</b></h3>
                        <div class="mt-2">
                            <h6><i class="fas fa-user fa-sm mr-2"></i>Super-Admin</h6>
                            <h6><i class="fas fa-envelope fa-sm mr-2"></i>Employee Email</h6>
                        </div>
                    </div>

                    <!-- Form for Updating user -->

                    <div id="adminForm" class="m-4" style="color: white; text-align: left;">
                        <div class="form-group">
                            <label for="accessRole">Access Role</label>
                            <select class="form-control" name="accessRole">
                      <option></option>
                      <option id="adminRole" value="adminRole">Admin</option>
                      <option id="superRole" value="superRole">Super Admin</option>
                    </select>
                        </div>
                        <div class="form-group">
                            <label for="employeeID">Employee ID</label>
                            <input type="text" class="form-control" id="employeeID" value="employeeID" placeholder="user_id">
                        </div>
                        <div class="form-group">
                            <label for="employeeID">Company Email</label>
                            <input type="text" class="form-control" id="companyEmail" value="companyEmail" placeholder="Company Email">
                        </div>
                        <div class="form-group">
                            <label for="employeeID">Employee ID</label>
                            <input type="text" class="form-control" id="employeeID" value="employeeID" placeholder="Employee ID">
                        </div>
                        <div class="form-group">
                            <label for="employeeID">First Name</label>
                            <input type="text" class="form-control" id="firstName" value="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="employeeID">Middle Name</label>
                            <input type="text" class="form-control" id="middleName" value="middleName" placeholder="Middle Name">
                        </div>
                        <div class="form-group">
                            <label for="employeeID">Last Name</label>
                            <input type="text" class="form-control" id="lastName" value="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    </form>
                    <br>
                </div>
                <div class="mt-3" style="background-color:#EAEDED; padding: 20px; min-height: 30vh; height: auto;box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3)">
                    <h6><b>Recent Activities:</b></h6>
                </div>
            </div>
        </div>
</body>

{% endblock body %}