{% extends 'AEIRBS-Dashboard.html' %}
{% load static %}
{% block content %}

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item mt-1 mr-3">
            Sort by:
        </li>
        <li class="nav-item mr-4">
            <div class="form-group">
                <select class="form-control  form-control-sm" id="sort">
                    <option>Component ID</option>
                </select>
            </div>
        </li>
        <li class="nav-item">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="input-group" id="searchComponent">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="input form-control form-control-sm" placeholder="Search Component">
                </div>
            </form>
        </li>
    </ul>

    <div class="container-fluid">
        <div class="text-center" style="margin-left: auto; margin-right: auto;">
            {% for fr in fire_components %}
            <div class="card card-layout border-0 m-2 component fireComponent" data-toggle="modal"
                data-target="#componentModal{{fr.device_sensor_id}}" data-component='{{fr.device_sensor_id}}'
                style="display: inline-block;">
                <div class="card-header border-0">
                    <b style="font-size: 16px;">{{fr.device_sensor_id}}</b> <small><i
                            class="fas fa-exclamation-circle ml-2 text-danger"></i></small>
                </div>
                <div class="card-body border-0">
                    <div class="row my-2">
                        <div class="col-4">
                            <center>
                                <div class="cardImage"
                                    style="background-image: url('{{ fr.sensor_id.sensor_image.url }}');">
                                </div>
                            </center>
                        </div>
                        <div class="col-8 mt-3" style="font-size: 14px;">
                            <h6>{{fr.sensor_id.sensor_name}}</h6>
                            <h6>{{eq.sensor_id.sensor_name}}</h6>
                            {% for floor in floor_locations %}
                            {% if floor.0 == fr.device_id.floor_location %}
                            <small>{{floor.1}}</small>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% if fr.sensor_status == 0 %}
                <div class="card-overlay connected-card-overlay"></div>
                {% elif fr.sensor_status == 1 %}
                <div class="card-overlay underMaintenance-card-overlay"></div>
                {% elif fr.sensor_status == 2 %}
                <div class="card-overlay needsMaintenance-card-overlay"></div>
                {% elif fr.sensor_status == 3 %}
                <div class="card-overlay inactive-card-overlay"></div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'AEIRBS-ComponentModals.html' %}
    {% include 'COMPONENTS-ConfirmationModals.html' %}
</body>
<script>
    $(".dashboard").toggleClass("active");
    $(".fire").toggleClass("active");
</script>
{% for component in all_components %}
    <script>
        $('#componentModal{{component.device_sensor_id}}').on('shown.bs.modal', function () {
            say('To the parent of the lost boy, CONGRATULATIONS! Your lost boy is now a girl! To claim, please proceed to our lost and found section. Thank you! Again, congratulations!');
        });
    </script>
    {% endfor %}
{% endblock content %}