{% extends 'AEIRBS-Dashboard.html' %}
{% load static %}
{% block content %}

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item mt-1 mr-3">
            <small>Sort by:</small>
        </li>
        <li class="nav-item mr-4">
            <form class="sort-filter-componentForm" action="{% url 'devices' %}" method="POST">
                {% csrf_token %}
                <input class="filterComponent" type="hidden" name="filterComponent" value="{{filter}}">
                <input class="ascending-descending" type="hidden" name="ascDesc" value="{{ascending_descending}}">
                <div class="input-group" >
                    <select class="custom-select form-control form-control-sm sortComponent" name="sortComponent">
                        {% if sort == 'floor' %}
                        <option class="id" value="id">Component ID</option>
                        <option class="floor" value="floor" selected>Floor Location</option>
                        {% else %}
                        <option class="id" value="id" selected>Component ID</option>
                        <option class="floor" value="floor">Floor Location</option>
                        {% endif %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-link icon btn-sm asc-desc-btn"
                            style="border: 1px solid #D2D7DD; color: #495057;"><i
                                class="fas fa-long-arrow-alt-up ascending"></i><i
                                class="fas fa-long-arrow-alt-down descending"></i></button>
                    </div>
                </div>
            </form>
        </li>
        <li class="nav-item">
            <form action="{% url 'devices' %}" method="POST">
                {% csrf_token %}
                <div class="input-group" id="searchComponent">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" name="keyword" class="input form-control form-control-sm"
                        placeholder="Search Component">
                </div>
            </form>
        </li>
    </ul>
    <div class="row float-right">
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-active" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">
                    Active
                </label>
            </div>
        </div>
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-underMaintenance" type="checkbox">
                <label class="form-check-label">
                    Under Maintenance
                </label>
            </div>
        </div>
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-needsMaintenance" type="checkbox">
                <label class="form-check-label">
                    Needs Maintenance
                </label>
            </div>
        </div>
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-inactive" type="checkbox">
                <label class="form-check-label">
                    Inactive
                </label>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="text-center" style="margin-left: auto; margin-right: auto;">
            {% if count == 0 %}
            <b>No device available.</b>
            {% endif %}

            {% for device in all_devices %}
            <div class="card card-layout border-0 m-2 component" data-toggle="modal"
                data-target="#deviceModal{{device.device_id}}" data-component='{{device.device_id}}' style="display: inline-block;" id="card{{device.device_id}}">
                <div class="card-header border-0">
                    <b style="font-size: 16px;">{{device.device_id}}</b>
                </div>
                <div class="card-body border-0">
                    <div class="row my-2">
                        <div class="col-4">
                            <center>
                                <div class="cardImage" style="background-image: url('{{ device.device_image.url }}');">
                                </div>
                            </center>
                        </div>
                        <div class="col-8 mt-3" style="font-size: 14px;">
                            <h6 class="devdevdev">{{device.device_name}}</h6>
                            {% for floor in floor_locations %}
                            {% if floor.0 == device.floor_location %}
                            <small>{{floor.1}}</small>
                            {% endif %}
                            {% endfor %}
                            <br>
                            <small>(temp: <span id="arddata0-{{device.id}}"></span>)</small>
                            <br>
                            <small>(dist: <span id="arddata1-{{device.id}}"></span>)</small>
                        </div>
                    </div>
                </div>
                {% if device.device_status == 0 %}
                <div class="card-overlay connected-card-overlay"></div>
                {% elif device.device_status == 1 %}
                <div class="card-overlay underMaintenance-card-overlay"></div>
                {% elif device.device_status == 2 %}
                <div class="card-overlay needsMaintenance-card-overlay"></div>
                {% elif device.device_status == 3 %}
                <div class="card-overlay inactive-card-overlay"></div>
                {% endif %}
            </div>

            <script>
                $(document).ready (function () {
                //$("#card{{device.device_id}}").click(function () {
                    ard_interval = setInterval(function() {
                        $.ajax({
                            type: 'POST',
                            headers: {
                                "X-CSRFTOKEN": "{{ csrf_token }}"
                            },
                            url: '/ajax/getdata/',
                            data: {'componentID': '{{device.id}}', 'port': '{{device.mac_address}}'},
                            dataType: 'json',
                            success: function (result) {
                                $('#arddata0-{{device.id}}').html(result.temp);
                                $('#arddata1-{{device.id}}').html(result.dist);

                                // alert("device id: {{device.device_id}}\n" + "message: " + result.temp + "\nmessage: " + result.dist);

                                deviceID = '{{device.id}}';
                                deviceFloor = '{{device.floor_location}}';

                                if (result.alert == 1) {
                                    $(".alarm").show();
                                    soundAlarm();
                                }
                            },
                            error: function(data){
                                // alert("device id: {{device.device_id}}\n" + 'error..');
                            },
                        });
                    }, 5000);
                });
              </script>
            {% endfor %}
        </div>
    </div>
    {% include 'AEIRBS-ComponentModals.html' %}
    {% include 'COMPONENTS-ConfirmationModals.html' %}
    {% include 'MASTERLIST-ConfirmationModals.html' %}
</body>
<script>
    $(".dashboard").toggleClass("active");
    $(".devices").toggleClass("active");
</script>

{% endblock content %}