{% extends 'AEIRBS-Settings.html' %}
{% load static %}
{% block content %}

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item mt-1 mr-3">
            <small>Sort by:</small>
        </li>
        <li class="nav-item mr-4">
            <form class="sort-filter-componentForm" action="{% url 'sensors' %}" method="POST">
                {% csrf_token %}
                <input class="ascending-descending" type="hidden" name="ascDesc" value="{{ascending_descending}}">
                <div class="input-group" >
                    <select class="custom-select form-control form-control-sm sortComponent" name="sortComponent">
                        {% if sort == 'type' %}
                        <option class="id" value="id">Sensor ID</option>
                        <option class="type" value="type" selected>Incident Type</option>
                        {% else %}
                        <option class="id" value="id" selected>Sensor ID</option>
                        <option class="type" value="type">Incident Type</option>
                        {% endif %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-link icon btn-sm asc-desc-btn"
                            style="border: 1px solid #D2D7DD; color: #495057;"><i
                                class="fas fa-long-arrow-alt-up ascending"></i><i
                                class="fas fa-long-arrow-alt-down descending"></i></button>
                    </div>
                </div>
            </form>
        </li>
        <li class="nav-item">
            <form action="{% url 'sensors' %}" method="POST">
                {% csrf_token %}
                <div class="input-group" id="searchComponent">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" name="keyword" class="input form-control form-control-sm"
                        placeholder="Search Component">
                </div>
            </form>
        </li>
    </ul>

    <div class="container-fluid mt-5" style="max-height: 75vh; height:auto; overflow-y: auto; padding: 25px;">
        <div class="text-center" style="margin-left: auto; margin-right: auto;">
            {% if count == 0 %}
            <b>No sensor available.</b>
            {% endif %}
            {% for sensor in all_sensors %}
            <div class="card card-layout border-0 m-2" data-toggle="modal"
                data-target="#sensorModal{{sensor.sensor_id}}" style="display: inline-block;">
                <div class="card-header border-0">
                    <b style="font-size: 16px;">{{sensor.sensor_id}}</b>
                </div>
                <div class="card-body border-0">
                    <div class="row my-2">
                        <div class="col-4">
                            <center>
                                <div class="cardImage" style="background-image: url('{{ sensor.sensor_image.url }}');">
                                </div>
                            </center>
                        </div>
                        <div class="col-8 mt-3" style="font-size: 14px;">
                            <h6>{{sensor.sensor_name}}</h6>
                            {% if sensor.sensor_type == 0 %}
                            <small>Earthquake</small>
                            {% elif sensor.sensor_type == 1 %}
                            <small>Fire</small>
                            {% elif sensor.sensor_type == 2 %}
                            <small>Flood</small> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'AEIRBS-SensorModals.html' %}
    {% include 'COMPONENTS-ConfirmationModals.html' %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(".settings").toggleClass("active");
        $("#sensorsLink").toggleClass("active");
    </script>
</body>
{% endblock content %}