body{
    font-family: 'Montserrat', sans-serif;
    background-color: #EAEDED;
  }
  .side{
    width: 15%;
    height: 100%;
    float: left;
    box-shadow: 5px 0 6px -3px #111010;
    position: fixed;
    text-align: center;
    background-color: #242423;
    color: white;
  }
  .main{
    width: 85%;
    height: 100%;
    float: right;
    color:white;
  }
  
  .footer {
  
    width: 250px;
    text-align: center;
  }
  
  .card-columns{
    text-align: center;
    column-count: 5;
  }
  
  .component-body{
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
  }
  
  /*Add Image*/
  .imagePreview {
    width: 100%;
    height: 170px;
    background-position: center;
    background:url("../icons/lineal/img.png");
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  }
  .btn-img
  {
    display:block;
    background-color: #343A40;
    color: white;
    margin-top:3px;
  }
  .btn-img:hover{
    background-color: black;
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #1E8449;
    border-radius: 5px;
  }
  
  .component-card:hover{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    top: -5px;
  }
  
  .overlay:hover{
    opacity: 0;
  }
  
  .icon{
    border-radius: 5px;
    color:black;
  }
  .icon:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .table-header{
    background-color: #EAEDED;
  }
  
  .badge {
    position: absolute;
    top: 0px;
    right: 8px;
    padding:2px 6px;
    border-radius: 50%;
    background: #B03A2E;
    color: white;
  }
  
  .left-padding{
    float:left;
    width:35%;
    height: auto;
  }
  .right-padding{
    float:right;
    width:65%;
    height: auto;
  }
  
  hr.blk {
    border: 1px solid #343A40;
  }
  
  .table-row{
    cursor:pointer;
  }
  
  .table-row:hover{
    background-color: #F4F6F6;
  }
  
  .input{
    line-height: 1em;
  }